@media (max-width: 480px) {
  #non-pwa.pwa-notActive {
    display: block;
  }

  #start-screen {
    display: none;
  }

  #app-footer {
    display: none;
  }

  .pwa-mode #start-screen {
    display: block;
  }

  .pwa-mode #app-footer {
    display: block;
  }

  .pwa-mode #non-pwa {
    display: none;
  }
}
