/*
* Imports
*/

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url(/mediaqueries.css);
/*
* Global CSS
*/

::before,
::after,
* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 480px;
  max-width: 80%;
  height: 800px;
  padding: 0;
  margin: auto;
  background-color: #7d9d9c;
  color: #e4dccf;
}

h1 {
  font-size: 110px;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 5px;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 30px;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: #f0a04b;
}

h4 {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/*
* Main CSS
*/

#page-title {
  height: fit-content;
  text-align: center;
  position: relative;
  filter: blur(5px);
  top: 25px;
  animation: slidedown 1s forwards;
}

@keyframes slidedown {
  0% {
    top: 25px;
    filter: blur(5px);
  }

  100% {
    top: 90px;
    filter: blur(0px);
  }
}

/*Start Screen*/

#start-screen {
  text-align: center;
  margin-top: 150px;
}

#start-screen-header {
  filter: blur(10px);
  animation: deblur 1s forwards;
}

@keyframes deblur {
  from {
    filter: blur(10px);
  }

  to {
    filter: blur(0px);
  }
}

#start-screen header h2 span {
  color: #f0a04b;
}

#play-button {
  margin-top: 25px;
  width: 200px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #e4dccf;
  letter-spacing: 2px;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: #f0a04b;
  animation: slideup 1s forwards;
  position: relative;
}

@keyframes slideup {
  0% {
    top: 25px;
    filter: blur(5px);
  }

  100% {
    top: 0px;
    filter: blur(0px);
  }
}

/*Game Screen*/

#game {
  margin-top: 150px;
  animation: deblur 1s forwards;
}

#game > header {
  text-align: center;
}

.container {
  width: 100%;
  margin-top: 30px;
}

#guess {
  display: flex;
  width: 100%;
  gap: 10px;
}

#player-guess {
  width: 70%;
  height: 40px;
  margin: 0;
  padding: 0;
  padding-left: 15px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #f0a04b;
  background-color: #e4dccf;
}

#player-guess-btn {
  width: 30%;
  height: 40px;
  margin: 0;
  padding: 0;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #e4dccf;
  background-color: #f0a04b;
}

#hint {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

#answer {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-align: center;
  color: #e4dccf;
}

.rightAnswer {
  width: 100% !important;
  font-size: 22px !important;
}

.re-do {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.re-do svg {
  stroke: #e4dccf;
}

.re-do p {
  text-align: center;
  font-size: 12px;
}

/*Footer*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
  animation: slideup 1s forwards;
  position: relative;
}

footer header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer header h4 {
  display: flex;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 15px;
}

footer header p {
  font-size: 14px;
}

/*
* PWA 
*/

#non-pwa {
  width: 100%;
  margin: auto;
  margin-top: 200px;
}

#non-pwa.pwa-active {
  display: none;
}

#message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#message .nonPwaMessage {
  font-size: 24px;
  text-align: center;
}
